@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

A:link {
  text-decoration: none;
  /* Убирает подчеркивание для ссылок */
  color: #5a98d0;
}

A:visited {
  text-decoration: none;
  color: #5a98d0;
}

A:active {
  text-decoration: none;
  color: #5a98d0;
}

A:hover {
  text-decoration: none;
  color: #5a98d0;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100vh;

  .page_font {
    font-family: "Roboto", "Helvetica Neue", Verdana, Helvetica, Arial,
      sans-serif;
  }
}

.temp-menu {
  padding-top: 20px;
  max-width: 200px;
  display: flex;
  justify-content: space-evenly;
  font-style: normal;
  font-weight: bold;
}
