@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

$maxPage-width: 1140px;
$footer_hrborder: 6px;

* {
  margin: 0;
  padding: 0;
}

A:link {
  text-decoration: none;
  /* Убирает подчеркивание для ссылок */
  color: #5a98d0;
}

A:visited {
  text-decoration: none;
  color: #5a98d0;
}

A:active {
  text-decoration: none;
  color: #5a98d0;
}

A:hover {
  text-decoration: none;
  color: #5a98d0;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100vh;

  .page_font {
    font-family: "Roboto", "Helvetica Neue", Verdana, Helvetica, Arial,
      sans-serif;
  }
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: $maxPage-width;
  border-color: red;
}

.temp-menu {
  padding-top: 20px;
  max-width: 200px;
  display: flex;
  justify-content: space-evenly;
  font-style: normal;
  font-weight: bold;
}

.sidebar {
  display: flex;
  justify-content: space-between;
  min-height: 55px;
  margin-bottom: 67px;
  align-items: center;

  .sidebar__logo {
    background-image: url(../pic/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 46px;
    height: 48px;
  }

  .sidebar__ava {
    width: 33px;
    height: 38px;
    /* background-image: url(../pic/ava.svg); */
    background-size: contain;
    background-repeat: no-repeat;
  }
}
