@import "base.scss"; // vars

// /**/
.page-header-contact {
  //   display: flex;

  justify-content: space-around;
}

.contact-promo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 250px;

  background-image: url(../pic/contact-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 65px;
}

.contact-promo-header {
  font-weight: 500;
  font-size: 44px;
  line-height: 74px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.contact-promo-content {
  max-width: 780px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.page-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.page-col {
  display: flex;
  flex-direction: column;

  flex-wrap: wrap;
  justify-content: space-around;
  width: 540px;
  padding: 56px 56px 56px 56px;
}

.page-col-left {
  width: 360px;
}

.contact-logo {
  margin-bottom: 63px;
  height: 181px;
  width: 301px;
}

.contact-data {
  margin-bottom: 40px;
}

.addr-header {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1f3f68;
}

.addr-p {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #1f3f68;
  opacity: 0.6;
}

.contactdata-list-marker {
  position: relative;
  left: 27px;
}

.contactdata-list-list-phone {
  list-style-image: url(../pic/phone.png);
}

.contactdata-list-list-globo {
  list-style-image: url(../pic/globo.png);
}

.contactdata-list-list-mail {
  list-style-image: url(../pic/mail.png);
}

.contactdata-list-li::marker {
  margin-right: 50px;
}

.contactdata-list-li {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #1f3f68;
  padding-left: 19px;
  margin-bottom: 16px;
}

/* contact-form-css */

.contact-form-col {
  background: #ffffff;
  box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}

.contact-form-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1f3f68;
  margin-bottom: 59px;
}

.contact-form-group {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.contact-form-label {
  width: 100%;
  margin: auto;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1f3f68;
  opacity: 0.8;
  margin-bottom: 8px;
}

.contact-form-input {
  padding-left: 42px;
  padding-top: 21px;
  padding-bottom: 21px;
  height: 72px;
  opacity: 0.4;
  border: 1px solid #356ead;
  box-sizing: border-box;
  border-radius: 10px;
}

/* .contact-form-input-text {
  width: 100%;
  height: 144px;
  opacity: 0.4;
  border: 1px solid #356ead;
  box-sizing: border-box;
  border-radius: 10px;
} */

.contact-form-confirm-btn {
  background: #5a98d0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  width: 100%;
}

.contact-form-confirm-btn {
  margin-top: 72px;
  padding-top: 23px;
  padding-bottom: 23px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.map-container {
  margin-top: 96px;
  margin-bottom: 96px;
}

.page-footer {
  background: #316099;

  .page-footer__top-footer {
    height: 383px;
    max-width: 1140px;
    /* padding-top: 58px;
      padding-bottom: 45px; */
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__invite {
    max-width: 495px;
    height: 280px;
  }

  .page-footer__invite-header {
    max-width: 340px;
    height: 92px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #ffffff;
  }

  .page-footer__invite-content {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #ffffff;
    opacity: 0.6;
    padding-top: 32px;
    padding-bottom: 51px;
  }

  .page-footer__talk-button {
    width: 236.63px;
    height: 56px;
    background: #5a98d0;
  }

  .page-footer__talk-button-caption {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
  }
}

.footer-hr {
  opacity: 0.4;
  border: $footer_hrborder solid #ffffff;
}

.footer-bot {
  height: 253px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-card {
  display: flex;
  justify-content: space-between;
  min-width: 359px;
  padding-top: 51px;

  .footer-card__p {
    width: 23px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #ffffff;
  }

  .footer-card__content {
    width: 317px;
    height: 48px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #ffffff;
  }
}

.footer-copyright {
  /* width: 100%; */
  padding-bottom: 49px;
  padding-top: 49px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #fffffa;
  opacity: 0.4;
}
