@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Helvetica Neue", Verdana, Helvetica, Arial, sans-serif;
}

A:link {
  text-decoration: none;
  /* Убирает подчеркивание для ссылок */
  color: #5a98d0;
}

A:visited {
  text-decoration: none;
  color: #5a98d0;
}

A:active {
  text-decoration: none;
  color: #5a98d0;
}

A:hover {
  text-decoration: none;
  color: #5a98d0;
}

.show-border {
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 1140px;
  border-color: red;
}

.temp-menu {
  padding-top: 20px;
  max-width: 200px;
  display: flex;
  justify-content: space-evenly;
  font-style: normal;
  font-weight: bold;
}

.container-page-header {
  flex-direction: column;
  background-image: url(./pic/ins_bg.svg);
  background-size: 549px;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.page-header {
  padding-top: 27px;
  background: linear-gradient(0deg,
      #ebf3fb 8.84%,
      rgba(152, 195, 232, 0) 31.12%);
}

.sidebar {
  display: flex;
  justify-content: space-between;
  min-height: 55px;
  margin-bottom: 67px;
  align-items: center;
}

.logo {
  background-image: url(./pic/logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 46px;
  height: 48px;
}

.ava {
  width: 33px;
  height: 38px;
  /* background-image: url(./pic/ava.svg); */
  background-size: contain;
  background-repeat: no-repeat;
}

.promo {
  padding-top: 40px;
  padding-right: 50px;
  padding-bottom: 162px;
  max-width: 554px;
}

.promo-header {
  margin-bottom: 32px;
  max-width: 510px;
  color: #1f3f68;
  letter-spacing: 0.04em;
  font-weight: 300;
  font-size: 64px;
  line-height: 1.25;
}

.promo-content {
  max-width: 425px;
  color: #1f3f68;
  letter-spacing: 0.05em;
  font-size: 16px;
  line-height: 26px;
  opacity: 0.6;
}

.portfolio {
  padding-top: 48px;
  padding-bottom: 20px;
  margin-bottom: 7px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio-header {
  width: 100%;
  text-align: center;
  font-weight: 300;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #000000;
  padding-top: 21px;
  padding-bottom: 38px;
}

.card {
  width: 358px;
  height: 480px;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-image {
  display: flex;
  margin: auto;
  width: 50%;
  flex-wrap: wrap;
}

.card-header {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  padding-left: 32px;
  padding-right: 32px;
  color: #1f3f68;
}

.card-content {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1f3f68;
  opacity: 0.6;
  padding-left: 32px;
  padding-right: 32px;
}

.card-link {
  padding-top: 28px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 44px;

  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5a98d0;
  display: flex;
}

.arrow {
  width: 15px;
  height: 15px;
  padding-top: 8px;
  margin-left: 23px;
  background-image: url(./pic/linkarrow.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right bottom;
}

.project-apps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 112px;
}

.projects {
  width: 100%;
}

.projects-header {
  padding-top: 15px;
  margin-bottom: 32px;
  width: 100%;
  font-weight: 300;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}

.projects-text {
  margin: 0 auto;
  max-width: 750px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #222222;
  padding-bottom: 32px;
}

.big-banner {
  width: 100%;
  height: 480px;
  background-image: url(./pic/big-banner.png);
  background-repeat: no-repeat;
  background-size: auto;
}

.big-banner-text {
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #ffffff;
  padding-top: 64px;
  padding-right: 64px;
}

.little-banner {
  width: 554px;
  height: 417px;

  border-radius: 10px;
  margin-top: 32px;
  padding-top: 32px;
  /* padding-left: 32px; */
}

.little-banner-text {
  padding-top: 32px;
  padding-left: 32px;
  position: absolute;

  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.little-banner-left {
  background-image: url(./pic/left-banner.png);
  background-repeat: no-repeat;
  background-size: auto;
}

.little-banner-right {
  background-image: url(./pic/right-banner.png);
  background-repeat: no-repeat;
  background-size: auto;
}

.page-footer {
  background: #316099;
}

.under-footer {
  height: 383px;
  width: 1140px;
  /* padding-top: 58px;
  padding-bottom: 45px; */
  justify-content: space-between;
  align-items: center;
}

.invite {
  width: 495px;
  height: 280px;
}

.invite-header {
  width: 340px;
  height: 92px;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.invite-text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.6;
  padding-top: 32px;
  padding-bottom: 51px;
}

.talk-button {
  width: 236.63px;
  height: 56px;
  background: #5a98d0;
}

.talk-button-text {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-hr {
  opacity: 0.4;
  border: 6px solid #ffffff;
}

.footer {
  height: 253px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-card {
  display: flex;
  justify-content: space-between;
  min-width: 359px;
  padding-top: 51px;
}

.footer-p {
  width: 23px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.footer-text {
  width: 317px;
  height: 48px;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.footer-copyright {
  width: 100%;
  padding-bottom: 49px;
  padding-top: 49px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.4;
}

/**/
.page-header-contact {
  justify-content: space-around;
}

.contact-promo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 250px;

  background-image: url(./pic/contact-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 65px;
}

.contact-promo-header {
  font-weight: 500;
  font-size: 44px;
  line-height: 74px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.contact-promo-content {
  max-width: 780px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.page-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.page-col {
  display: flex;
  flex-direction: column;

  flex-wrap: wrap;
  justify-content: space-around;
  width: 540px;
  padding: 56px 56px 56px 56px;
}

.page-col-left {
  width: 360px;
}

.contact-logo {
  margin-bottom: 63px;
  height: 181px;
  width: 301px;
}

.contact-data {
  margin-bottom: 40px;
}

.addr-header {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1f3f68;
}

.addr-p {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #1f3f68;
  opacity: 0.6;
}

.contactdata-list-marker {
  position: relative;
  left: 27px;
}

.contactdata-list-list-phone {
  list-style-image: url(./pic/phone.png);
}

.contactdata-list-list-globo {
  list-style-image: url(./pic/globo.png);
}

.contactdata-list-list-mail {
  list-style-image: url(./pic/mail.png);
}

.contactdata-list-li::marker {
  margin-right: 50px;
}

.contactdata-list-li {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #1f3f68;
  padding-left: 19px;
  margin-bottom: 16px;
}

/* contact-form-css */

.contact-form-col {
  background: #ffffff;
  box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}

.contact-form-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1f3f68;
  margin-bottom: 59px;
}

.contact-form-group {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.contact-form-label {
  width: 100%;
  margin: auto;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1f3f68;
  opacity: 0.8;
  margin-bottom: 8px;
}

.contact-form-input {
  padding-left: 42px;
  padding-top: 21px;
  padding-bottom: 21px;
  height: 72px;
  opacity: 0.4;
  border: 1px solid #356ead;
  box-sizing: border-box;
  border-radius: 10px;
}

/* .contact-form-input-text {
  width: 100%;
  height: 144px;
  opacity: 0.4;
  border: 1px solid #356ead;
  box-sizing: border-box;
  border-radius: 10px;
} */

.contact-form-confirm-btn {
  background: #5a98d0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  width: 100%;
}

.contact-form-confirm-btn {
  margin-top: 72px;
  padding-top: 23px;
  padding-bottom: 23px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.map-container {
  margin-top: 96px;
  margin-bottom: 96px;
}